.notes {
    display: flex;
    gap: 2rem;
    flex-flow: row wrap;
}

.note {
    background-color: #ECFAF5;
    flex: 1 200px;
    height: 300px;
    display: flex;
    flex-flow: column nowrap;
    padding: 1rem 2rem;
    gap: 2rem;
    min-width: 400px;
}

.note-header {
    display: flex;
    justify-content: space-between;
}

.note-header .fa-solid {
    font-size: 1rem;
}

.note-header-left a {
    color: #9EC862;
    padding: 0.1rem;
}

.note-header-left a:hover {
    color: rgb(158, 200, 98, 0.3);
}

.note-header-right a{
    color: #fa4534;
}

.note-header-right a:hover {
    color: #fa4433a0;
}

textarea {
    width: 100%;
    border: none;
    background-color: inherit;
    padding: 2%;
}

.note-body {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 1rem;
    color: #9B9C9C;
}