{% extends 'base.html' %}

{% load static %}

{% block css %}<link rel="stylesheet" href="{% static 'style_detail.css' %}">{% endblock css %}

{% block title %}Note Detail{% endblock %}


{% block content %}
    <div class="card">
        <div class="note-header">
            <div class="card-header-left">
                <a href="{% url 'note_list' %}"><i class="fa-solid fa-arrow-left-long"></i></a>
            </div>
            <div class="card-header-right"></div>
        </div>
        <div class="card-body">
            
            <form method="post">
                {% csrf_token %}
                <p>Are you sure to delete?</p>
                <button type="submit" class="btn-danger">Yes, Delete</button>
            </form>
        </div>
    </div>
{% endblock content %}